// ./modules/button

// -------------------------------------------------------------------
// BUTTON VARIBALES
// -------------------------------------------------------------------

// BTN
$display-btn: inline-block;
$font-size-btn: 0.9rem;
$font-weight-btn: 900;
$font-family-btn: $font-2;
$letter-spacing-btn: 0.08rem;
$text-decoration-btn: none;
$padding-btn: 0.9rem 2rem;
$text-transform-btn: uppercase;
$background-btn: $colorText;
$color-btn: $colorLight;
$border-btn: 3px solid $colorText;
$margin-right-btn: 1.5rem;
$margin-bottom-btn: 1.5rem;

$color-btn-hover: $colorLight;
$background-btn-hover: $colorHover;
$border-btn-hover: 3px solid $colorHover;

// BTN SMALL

$padding-btn-small: 0.5rem 1.3rem;

// BTN LARGE
$padding-btn-large: 1.2rem 2.5rem;


// BTN-LIGHT
$display-btn-light: inline-block;
$font-size-btn-light: 0.9rem;
$font-weight-btn-light: 900;
$font-family-btn-light: $font-2;
$letter-spacing-btn-light: 0.08rem;
$text-decoration-btn-light: none;
$padding-btn-light: 0.9rem 2rem;
$text-transform-btn-light: uppercase;
$border-btn-light: 3px solid $colorText;
$color-btn-light: $colorText;
$margin-right-btn-light: 1.5rem;
$margin-bottom-btn-light: 1.5rem;

$color-btn-light-hover: $colorHover;
$border-btn-light-hover: 3px solid $colorHover;

// BTN-LIGHT-SMALL
$padding-btn-small-light: 0.5rem 1.3rem;

// BTN-LIGHT-LARGE
$padding-btn-large-light: 1.2rem 2.5rem;

// BTN-FIT
$display-btn-fit: block;
$text-align-btn-fit: center;

// BTN ICON
$margin-right-btn--icon: .3rem;
$margin-right-btn-light--icon: .3rem;

// BTN DISABLED
$opacity-btn--disabled: 0.5;
$opacity-btn-light--disabled: 0.5;

// -------------------------------------------------------------------
// BUTTON CODE
// -------------------------------------------------------------------
.btn {
  display: $display-btn;
  font-size: $font-size-btn;
  font-weight: $font-weight-btn;
  font-family: $font-family-btn;
  letter-spacing: $letter-spacing-btn;
  text-decoration: $text-decoration-btn;
  padding: $padding-btn;
  text-transform: $text-transform-btn;
  background: $background-btn;
  color: $color-btn;
  border: $border-btn;
  margin-right: $margin-right-btn;
  margin-bottom: $margin-bottom-btn;

  i{
    margin-right: $margin-right-btn--icon;
  }

  &.disabled{
    opacity: $opacity-btn--disabled;
    
  }

  &:hover {
    color: $color-btn-hover;
    background: $background-btn-hover;
    border: $border-btn-hover;
  }

  &.small {
    padding: $padding-btn-small;
  }

  &.large{
    padding: $padding-btn-large;
  }

  &.fit{
    display: $display-btn-fit;
    text-align: $text-align-btn-fit;
  }

  &-light {
    display: $display-btn-light;
    font-size: $font-size-btn-light;
    font-weight: $font-weight-btn-light;
    font-family: $font-family-btn-light;
    letter-spacing: $letter-spacing-btn-light;
    text-decoration: $text-decoration-btn-light;
    text-transform: $text-transform-btn-light;
    padding: $padding-btn-light;
    border: $border-btn-light;
    color: $color-btn-light;
    margin-right: $margin-right-btn-light;
    margin-bottom: $margin-bottom-btn-light;

    i{
      margin-right: $margin-right-btn-light--icon;
    }

    &:hover {
      color: $color-btn-light-hover;
      border:$border-btn-light-hover;
    }

    &.small {
        padding: $padding-btn-small-light;
    }

    &.large{
      padding: $padding-btn-large-light;
    }

    &.fit{
        display: $display-btn-fit;
        text-align: $text-align-btn-fit;
    }

    &.disabled{
      opacity: $opacity-btn-light--disabled;
      
    }

  }
}
