// -------------------------------------------------------------------
// ./modules/colors
// -------------------------------------------------------------------

// -------------------------------------------------------------------
//  VARIABLES
// -------------------------------------------------------------------
$color3: #717981;
$color4: #4e403d;
$colorHover: #18bfef;
$colorLight: #f6f6f6;
$colorTitle: #212931;
