// ./modules/list

// -------------------------------------------------------------------
// LIST VARIBALES
// -------------------------------------------------------------------
$margin-list: 1em 0;

$padding-list: 20px;
$margin-list--li: 0.5em 0;

// ALTERNATE
$padding-list-alternate: 20px;
$margin-list-alternate--li: 0.5em 0;

// ORDONEE
$padding-list-ordonee: 20px;
$margin-list-ordonee--li: 0.5em 0;

// ICON
$padding-list-icon: 0;
$margin-list-list-icon--li: 0 0.5em;
$list-style-list-icon: none;
$display-list-icon: flex;
$flex-direction-list-icon: row;

// NAV
$padding-list-nav: 0;
$margin-list-list-nav--li: 0 0.5em;
$list-style-list-nav: none;
$display-list-nav: flex;
$flex-direction-list-nav: row;
$list-style-list-nav: none;
$padding-list-nav: 0;

$margin-left-list-nav-text-definition: 2em;

// list actions
$padding-list-actions: 0;
$list-style-list-actions: none;

$display-list-actions-item-inlineBlock: inline-block;
$margin-bottom-list-actions-item-inlineBlock: 0.5rem;
$margin-right-list-actions-item-inlineBlock: 0.5rem;

$display-list-actions-item-inline: inline;
$margin-bottom-list-actions-item-inline: 0;
$margin-right-list-actions-item-inline: 0;
$text-align-list-actions-item-inline: center;
$margin-top-list-actions-item-inline: 0;

$display-list-actions-item-block: block;
$width-list-actions-item-block: min-content;
$margin-bottom-list-actions-item-block: 0.5rem;
$margin-right-list-actions-item-block: 0.5rem;

// .list-page
$display-list-page: flex;
$list-style-list-page: none;
$padding-list-page: 0;
$margin-top-list-page: 6rem;

$padding-list-page-item: 0;
$margin-list-page-item: 0;
$border-left-list-page-item-link: 3px solid $colorNeutral3;

$display-list-page-link: block;
$padding-list-page-link-s: 0.4rem 0.8rem;
$padding-list-page-link-l: 0.6rem 1rem;
$margin-list-page-link: 0;
$text-decoration-list-page-link: none;
$border-right-list-page-link: 3px solid $colorNeutral3;
$border-top-list-page-link: 3px solid $colorNeutral3;
$border-bottom-list-page-link: 3px solid $colorNeutral3;

$background-list-page-link-hover: $colorHover;
$color-list-page-link-hover: $colorLight;

// -------------------------------------------------------------------
// LIST CODE
// -------------------------------------------------------------------

.list {
  padding-left: $padding-list;
  margin: $margin-list;
  li {
    margin: $margin-list--li;
  }
}

.list-alternate {
  padding-left: $padding-list-alternate;
  margin: $margin-list;
  li {
    margin: $margin-list-alternate--li;
  }
}

.list-ordonee {
  padding-left: $padding-list-ordonee;
  margin: $margin-list;
  li {
    margin: $margin-list-ordonee--li;
  }
}

.list-icon {
  display: $display-list-icon;
  flex-direction: $flex-direction-list-icon;
  padding-left: $padding-list-icon;
  margin: $margin-list;
  list-style: $list-style-list-icon;
  li {
    margin: $margin-list-list-icon--li;
  }
}

.list-nav {
  display: $display-list-nav;
  flex-direction: $flex-direction-list-nav;
  padding-left: $padding-list-nav;
  list-style: $list-style-list-nav;
  .active{
    background: white;
    color: $colorText;
  }
  
}

.list-definition {
  list-style: $list-style-list-nav;
  padding: $padding-list-nav;
  margin: $margin-list;
  .text-definition {
    margin-left: $margin-left-list-nav-text-definition;
  }
}

.list-actions {
  padding: $padding-list-actions;
  list-style: $list-style-list-actions;
  .item-inlineBlock {
    display: $display-list-actions-item-inlineBlock;
    margin-bottom: $margin-bottom-list-actions-item-inlineBlock;
    margin-right: $margin-right-list-actions-item-inlineBlock;
  }

  .item-block {
    display: $display-list-actions-item-block;
    width: $width-list-actions-item-block;
    margin-bottom: $margin-bottom-list-actions-item-block;
    margin-right: $margin-right-list-actions-item-block;
  }

  .item-inline {
    display: $display-list-actions-item-inline;
    margin-top: $margin-top-list-actions-item-inline;
    margin-bottom: $margin-bottom-list-actions-item-inline;
    margin-right: $margin-right-list-actions-item-inline;
    text-align: $text-align-list-actions-item-inline;
  }
}

.list-page {
  display: $display-list-page;
  list-style: $list-style-list-page;
  padding: $padding-list-page;
  margin-top: $margin-top-list-page;
  li {
    padding: $padding-list-page-item;
    margin: $margin-list-page-item;
    &:first-of-type a {
      border-left: $border-left-list-page-item-link;
    }
    a {
      display: $display-list-page-link;
      padding: $padding-list-page-link-s;
      @media screen and (min-width: map-get($screen-sizes, "m" , "breakpoint")) {
        padding: $padding-list-page-link-l;
      }
      margin: $margin-list-page-link;
      text-decoration: $text-decoration-list-page-link;
      &:hover {
        background: $background-list-page-link-hover;
        color: $color-list-page-link-hover;
      }
      &.active {
        background: $colorNeutral3;
        &:hover {
          background: $colorHover;
          color: $colorLight;
        }
      }

      border-right: $border-right-list-page-link;
      border-top: $border-top-list-page-link;
      border-bottom: $border-bottom-list-page-link;
    }
  }
}
